body {
    margin-top: 10px;
    background: pink;

}

.order-card {
    color: floralwhite;
}

.container {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.32s ease-in-out;
    transition: all 0.32s ease-in-out;
}

.text-center {
    color: black;
}

.bg-c-pink {
    background: linear-gradient(70deg, aquamarine, pink);
}

.card .card-block {
    padding: 10px;
}

.order-card {
    font-size: 26px;
}

