.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(111, 189, 189);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: gray;
    color: whitesmoke;
}

.sidebar a:hover:not(.active) {
    background-color: pink;
    color: whitesmoke;
}


